input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

h3{
    text-align: center;
}
