input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#description {
    width: 100%;
    height: 10%;

    margin: 8px 0;
}

h3{
    text-align: center;
}

